<div class="page">
  <nav class="navbar">
    <div class="navbar-left">
      {{!-- Not sure about text decoration here or what's
      causing purple color. Seems that the link-to element
      has inherent styling --}}
      {{!-- {{#link-to 'index'}} --}}

        <img src="./images/spot-me-icon-orange.png" alt="" class="navbar-logo">
        <p class="navbar-title">Spot Me</p>

      {{!-- {{/link-to}} --}}
    </div>

    <div class="navbar-right">
        <a class="navbar-right__item">About Us</a>
        <a class="navbar-right__item">{{#link-to 'login'}}Login/Register{{/link-to}}</a>
    </div>
  </nav>

  <div class="page__content">
    {{outlet}}
  </div>


  <div class="footer">
    <div class="footer-left">
      <img src="./images/spot-me-icon-orange.png" alt="" class="navbar-logo">
      <span class="footer-left__item">Copyright {{fa-icon "copyright"}} Spot Me Inc.</span>
    </div>
    <div class="footer-right">
        <p class="footer-item">Terms</p>
        <p class="footer-item">Privacy</p>
        <p class="footer-item">Sitemap</p>
        <div class="footer-item">{{fa-icon "envelope"}}</div>
        <div class="footer-item">{{fa-icon "facebook"}}</div>
        <div class="footer-item">{{fa-icon "instagram"}}</div>
    </div>
  </div>
</div>
