<div class="page">
  <nav class="top-nav">
    <div class="nav-left">
      {{!-- Not sure about text decoration here or what's
      causing purple color. Seems that the link-to element
      has inherent styling --}}
      {{#link-to 'index'}} {{fa-icon "handshake-o"}} {{/link-to}}
      {{#link-to 'index'}} <span class="nav-left__name">Spot Me</span> {{/link-to}}
    </div>

    <div class="nav-right">
      <ul class="nav-list">
        <li class="nav-list__item">About Us</li>
        {{#link-to 'login'}}<li class="nav-list__item">Login/Register</li>{{/link-to}}
      </ul>
    </div>
  </nav>

  <div class="page__content">
    {{outlet}}
  </div>


  <div class="footer">
    <div class="footer-left">
      <img src="" alt="" class="footer-left__icon">
      <span class="footer-left__name">Copyright {{fa-icon "copyright"}} Spot Me Inc.</span>
    </div>
    <div class="footer-right">
      <ul class="social-list">
        <li class="social-list__item">Terms</li>
        <li class="social-list__item">Privacy</li>
        <li class="social-list__item">Sitemap</li>
        <li class="social-list__item">{{fa-icon "envelope"}}</li>
        <li class="social-list__item">{{fa-icon "facebook"}}</li>
        <li class="social-list__item">{{fa-icon "instagram"}}</li>

      </ul>
    </div>
  </div>




  {{outlet}}
</div>
