<div class="section">
  <div class="card">
    <div class="card-container">
      <div class="card-sidebar">

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">Edit Profile</p>
        </div>

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">View My Profile</p>
        </div>

      </div>

      <div class="content">
        <div class="content-form">

          <div class="input-container">
            <form action="" class="input-container">
              {{input id="name" class="content-form__input" type="text" placeholder="Name"}}
              {{input id="email" class="content-form__input" type="text" placeholder="Email"}}
              {{input id="ageRange" class="content-form__input" type="text" placeholder="Age Range"}}
              <select class="content-form__input" type="text" placeholder="Gender">
                <option id="gender" class="content-form__option" value="Male">Gender</option>
                <option id="gender" value="Male">Male</option>
                <option id="gender" value="Female">Female</option>
              </select>
              {{input id="zipCode" class="content-form__input" type="text" placeholder="Location"}}
              <textarea class="content-form__input" name="name" rows="8" maxlength="500" placeholder="Bio"></textarea>
              {{input id="activities" class="content-form__input" type="text" placeholder="Activities"}}
              {{input id="availability" class="content-form__input" type="text" placeholder="Availability"}}
              <button class="content-form__submit">Save Changes</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
