<div class="card-section">
  <div class="card-container">
    <div class="content">
      <div class="card-headline">
        {{#link-to "edit" class="edit-card__tab"}}Edit Profile{{/link-to}}
        {{#link-to "messages" class="edit-card__tab"}}My Messages{{/link-to}}
      </div>
      <div class="content-form">
      {{#with (changeset model) as |forms|}}
        <div class="input-container">
          <img src="./images/profile-pic.jpg" alt="" class="profile-pic">
          <form {{action "saveProfile" forms on="submit"}} action="save-profile" on="submit" class="input-container">
            {{input value=forms.name class="content-form__input" type="text" placeholder="Name"}}
            {{input value=forms.email class="content-form__input" type="text" placeholder="Email"}}
            <select class="content-form__input" type="text" placeholder="Age Range" onchange= {{action (mut forms.ageRange) value="target.value"}}>
                <option class="content-form__option" value="ageRange">Age Range</option>
                <option value="ageRange">18-24</option>
                <option value="ageRange">25-34</option>
                <option value="ageRange">35-44</option>
                <option value="ageRange">45-54</option>
                <option value="ageRange">55-64</option>
              </select>
            <select class="content-form__input" type="text" placeholder="Gender" onchange= {{action (mut forms.gender) value="target.value"}}>
                <option class="content-form__option" value="gender">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            {{input value=forms.zipCode class="content-form__input" type="text" placeholder="Location"}}
            <textarea id="bio" class="content-form__input" name="name" rows="8" maxlength="500" placeholder="Bio"></textarea>
            {{!-- {{input value=forms.activities class="content-form__input" type="text" placeholder="Activities"}} --}}

            <select multiple class="content-form__input" type="text" placeholder="Activities" onchange= {{action (mut forms.activities) value="target.value"}}>
                <option class="content-form__option" value="acavailability">Activities</option>
                <option value="Running">Running</option>
                <option value="Hiking">Hiking</option>
                <option value="Cycling">Cycling</option>
                <option value="Swimming">Swimming</option>
                <option value="Tennis">Tennis</option>
                <option value="Yoga">Yoga</option>
                <option value="Lifting">Lifting</option>
                <option value="Golfing">Golfing</option>
                <option value="Boxing">Boxing</option>
              </select>

            <select multiple class="content-form__input multiple__input" type="text" placeholder="Availability" onchange= {{action (mut forms.availability) value="target.value"}}>
                <option class="content-form__option" value="availability">Availability</option>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
              </select>
            {{#link-to 'map-filter' class="content-form__submit"}}Save Changes{{/link-to}}
          </form>
        </div>
      {{/with}}

      </div>
    </div>
  </div>
</div>
