<div class="card-section">
  <div class="card-container">
    <div class="content">
      <div class="card-headline">
        {{#link-to "edit" class="edit-card__tab"}}Edit Profile{{/link-to}}
        {{#link-to "messages" class="edit-card__tab"}}My Messages{{/link-to}}
      </div>
      <div class="content-form">
      {{#with (changeset model) as |forms|}}
        <div class="input-container">
          <img src="./images/profile-pic.jpg" alt="" class="profile-pic">
          <form {{action "saveProfile" forms on="submit"}} action="save-profile" on="submit" class="input-container">
            {{input value=forms.name class="content-form__input" type="text" placeholder="Name"}}
            {{input value=forms.email class="content-form__input" type="text" placeholder="Email"}}

            <select class="content-form__input" type="text" placeholder="Age Range" onchange= {{action (mut forms.ageRange) value="target.value"}}>
                <option class="content-form__option" value="ageRange">Age Range</option>
                <option value="ageRange">18-24</option>
                <option value="ageRange">25-34</option>
                <option value="ageRange">35-44</option>
                <option value="ageRange">45-54</option>
                <option value="ageRange">55-64</option>
              </select>
            <select class="content-form__input" type="text" placeholder="Gender" onchange= {{action (mut forms.gender) value="target.value"}}>
                <option class="content-form__option" value="gender">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            {{input value=forms.zipCode class="content-form__input" type="text" placeholder="Location"}}
            <textarea id="bio" class="content-form__input" name="name" rows="8" maxlength="500" placeholder="Bio"></textarea>
            {{!-- {{input value=forms.activities class="content-form__input" type="text" placeholder="Activities"}} --}}


          <div class="wizard">
            <div class="headline">
            <p class="wizard-headline">My Activities</p>
            <p class="wizard-headline edit-headline">{{#link-to "profile.activities"}}(<span class="underline-only">edit</span>){{/link-to}}</p>
            </div>
            <ul class="wizard-list">
              {{#each model.activities as |activity|}}
                <li class="wizard-list__item">{{activity}}</li>
              {{/each}}
            </ul>
          </div>

          <div class="wizard">
            <div class="headline">
            <p class="wizard-headline">My Availability</p>
            <p class="wizard-headline edit-headline">{{#link-to "profile.availability"}}(<span class="underline-only">edit</span>){{/link-to}}</p>
            </div>
            <ul class="wizard-list">
              {{#each model.availabilities as |availability|}}
                <li class="wizard-list__item">{{availability}}</li>
              {{/each}}
            </ul>


            </div>

            <button type="submit" {{action "saveAndContinue"}} class="content-form__submit">Save Changes</button>
          </form>
        </div>
      {{/with}}

      </div>
    </div>
  </div>
</div>
